* {
    background-color: rgb(235, 222, 190);
}

.center {
    text-align: center;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bold {
    font-weight: 700;
}